option_settings:
  aws:elasticbeanstalk:application:environment:
    JAVA_TOOL_OPTIONS: >
      -Xms512m -Xmx512m
      -XX:+UseG1GC -XX:MaxGCPauseMillis=200
      -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/var/log/heapdump.hprof
      -XX:+ExitOnOutOfMemoryError
      -Dexcel.permits=2
    SERVER_TOMCAT_THREADS_MAX: "50"