option_settings:
  aws:elasticbeanstalk:application:environment:
    JAVA_TOOL_OPTIONS: >-
      -Xms1024m -Xmx1024m
      -XX:+UseG1GC -XX:MaxGCPauseMillis=200
      -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/var/log/heapdump.hprof
      -XX:+ExitOnOutOfMemoryError
      -XX:+UseStringDeduplication
      -Dexcel.permits=1
    SERVER_TOMCAT_THREADS_MAX: "50"